.btn-container {
  display: flex;
  width: 25%;
  margin: 0 auto;
}

.btn {
  margin: 0 auto;
  padding: 10px 20px;
  background: rgb(255, 0, 0);
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.btn:disabled {
  background: rgb(100, 0, 0);
  cursor: default;
}

@keyframes blink {
  from {
    background: rgb(255, 0, 0);
  }
  to {
    background: rgba(255, 0, 0, 0.5);
  }
}

.active {
  animation: blink 1s infinite;
}

.tapes {
  display: block;
  margin: 0 auto;
}
